In [3]:
import pandas as pd

In [23]:
df = pd.read_csv("C:/Users/a1048554/Desktop/Python/data1.csv", index_col=0)
df.head()

     sex  age  ages medicine  losing_weight
ID
1   male   28    30        A              1
2   male   31    30        A              1
3   male   31    30        B              0
4   male   33    30        A              1
5   male   34    30        B              1

In [25]:
# 全体の平均
df["losing_weight"].mean()

3.03

In [33]:
# Aの平均
df[df["medicine"] =="A"]["losing_weight"].mean()

2.8461538461538463

In [32]:
# Bの平均
df[df["medicine"] =="B"]["losing_weight"].mean()

3.2291666666666665

In [35]:
# AとBを変数化
ave_a = df[df["medicine"] =="A"]["losing_weight"].mean()
ave_b = df[df["medicine"] =="B"]["losing_weight"].mean()
ave_a, ave_b

(2.8461538461538463, 3.2291666666666665)

In [36]:
# AとBの中央値
med_a = df[df["medicine"] =="A"]["losing_weight"].median()
med_b = df[df["medicine"] =="B"]["losing_weight"].median()
med_a, med_b

(3.5, 4.0)

In [37]:
# 最大値
max_a = df[df["medicine"] =="A"]["losing_weight"].max()
max_b = df[df["medicine"] =="B"]["losing_weight"].max()
max_a, max_b

(6, 6)

In [38]:
# 最小値
min_a = df[df["medicine"] =="A"]["losing_weight"].min()
min_b = df[df["medicine"] =="B"]["losing_weight"].min()
min_a, min_b

(-1, -1)

In [43]:
# 年齢の四分位数
q1 = df["age"].quantile(0.25)
q2 = df["age"].quantile(0.50)
q3 = df["age"].quantile(0.75)
q1, q2, q3

(31.75, 35.0, 38.0)

In [45]:
# 年齢の四分位数をまとめて抽出
q1,q2,q3 = df["age"].quantile([0.25,0.50,0.75])
q1,q2,q3

(31.75, 35.0, 38.0)

In [46]:
# 分散
var_a = df[df["medicine"] =="A"]["losing_weight"].var()
var_b = df[df["medicine"] =="B"]["losing_weight"].var()
var_a, var_b

(4.250377073906484, 4.861258865248228)

In [47]:
# 標準偏差
std_a = df[df["medicine"] =="A"]["losing_weight"].std()
std_b = df[df["medicine"] =="B"]["losing_weight"].std()
std_a, std_b

(2.061644264635993, 2.204826266454622)

In [50]:
# 年齢との相関
df[["age","losing_weight"]].corr()

                    age  losing_weight
age            1.000000      -0.054785
losing_weight -0.054785       1.000000